<div id="wrapper">
  <app-navigation
    [isCollapse]="isSidebarCollapsed"
    (toggleCollapse)="toggleSidebar()"
    [navData]="navData"
  ></app-navigation>

  <div
    id="content-wrapper"
    class="d-flex flex-column"
    [class.collapsed]="isSidebarCollapsed"
  >
    <div id="content">
      <app-top-nav (toggleSidebar)="toggleSidebar()"></app-top-nav>
      <ng-content select="[custom-top-nav]"></ng-content>
      <div class="w-100 py-3">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
