<div class="row">
  <div class="col-md-12">
    <h4 class="mb-0 mt-3 text-center font-weight-bold">Changed Your Password</h4>
    <p class="text-center p-email-enter">
      Please type your password to create.
    </p>
  </div>

  <div class="col-md-8 offset-md-2">
    <div class="input-group lofinField mt-4">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-unlock-alt"></i></div>
      </div>
      <input
        [attr.type]="passViewer"
        name="password"
        class="form-control pl-2"
        id="password"
        placeholder="New Password"
        [(ngModel)]="password"
        (ngModelChange)="onChangeNewPword()"
      />
      <i
        [ngClass]="passwordToggleIcon"
        (click)="passwordViewToggle()"
        class="toggle-password"
      ></i>
    </div>
  </div>
  <div class="col-md-8 offset-md-2">
    <div class="input-group lofinField mt-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-unlock-alt"></i></div>
      </div>
      <input
        [attr.type]="passViewer"
        name="conPassword"
        class="form-control pl-2"
        id="conPassword"
        placeholder="Confirm Password"
        [(ngModel)]="confirmPassword"
        (ngModelChange)="onChangeConfPword()"
      />
      <i
        [ngClass]="passwordToggleIcon"
        (click)="passwordViewToggle()"
        class="toggle-password"
      ></i>
    </div>
  </div>
</div>
