<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
    <button type="button" class="close" (click)="bsModalRef.hide()">
      <span>&times;</span>
    </button>
  </div>

  <div class="modal-body all_content_wrapper">
    <!-- Business Unit Information -->
    <div class="row patient-info mt-0 mb-3">
      <div class="col-12">
        <fieldset
          class="border p-2 marginLeftphato search fieldsetBg borderRight"
        >
          <legend class="w-auto legend-title">Business Unit Information</legend>
          <div class="form-row searchDiv">
            <div class="input-group col-md-6 col-12">
              <label class="text-left">Code:</label>
              <input
                type="text"
                class="form-control rounded"
                [(ngModel)]="department.buId"
                name="buId"
                required
                style="border-radius: 0.25rem !important"
              />
            </div>

            <div class="input-group col-md-6 col-12 d-flex">
              <table>
                <th style="vertical-align: middle" class="text-right">
                  <label class="text-right" for="activeStatus"
                    >Active Status:</label
                  >
                </th>
                <td style="vertical-align: middle; width: 24px">
                  <input
                    type="checkbox"
                    class="checkTitle"
                    [(ngModel)]="department.activeStatus"
                    name="activeStatus"
                    required
                    id="activeStatus"
                  />
                </td>
              </table>
            </div>

            <div class="input-group col-md-6 col-12">
              <label class="text-left">Name:</label>
              <input
                type="text"
                class="form-control rounded"
                id=""
                placeholder=""
                [(ngModel)]="department.buName"
                name="buName"
                #buName="ngModel"
                required
                style="border-radius: 0.25rem !important"
              />
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary minw-80"
      (click)="onSaveOrUpdate()"
    >
      Save
    </button>
    <button
      type="button"
      class="btn btn-danger minw-80"
      (click)="bsModalRef.hide()"
    >
      Close
    </button>
  </div>
</div>
