.card{
    cursor: pointer;
    transform: 0.25s;
}

.card:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card .card-body{
    height: 80px;
}

.card-footer{
    padding: 5px 8px;
    font-weight: 600;
    font-size: 12px;
}
