.topbar #sidebarToggleTop {
  height: 2.5rem;
  width: 2.5rem;
  color: var(--textColor);
}
.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.topbar {
  height: 3.55rem;
  /* background-color: var(--base-primary); */
  /* background-color: #1e293b; */
  background-color: #ffffff;
  color: var(--textColor);
}
.userAdmin {
  color: var(--textColor);
}
/* .topbar .navbar-search {
    width: 25rem;
} */

.header-search {
  max-width: 250px;
}

.dropdown-item {
  font-size: 14px;
}

.dropdown .dropdown-menu .dropdown-header,
.sidebar .sidebar-heading,
.text-uppercase {
  text-transform: uppercase !important;
}

.dropdown-toggle::after {
  position: absolute;
  right: 15px;
  top: 18px;
  transform: translateY(-50%) rotate(0deg);
  transition: 0.25s;
}

/* .dropdown-toggle::after, */
.dropdown-toggle.collapsed::after {
  position: absolute;
  right: 15px;
  top: 18px;
  transform: translateY(-50%) rotate(-90deg);
  transition: 0.25s;
}

.user-account {
  min-width: 150px;
}

.topbar .nav-item .nav-link .badge-counter {
  position: absolute;
  transform: scale(0.7);
  transform-origin: top right;
  right: 0.25rem;
  margin-top: -0.25rem;
}

.topbar .nav-item .nav-link .img-profile {
  height: 1.9rem;
  width: 1.9rem;
}

.dropdown-toggle::after {
  position: absolute;
  right: 15px;
  top: 18px;
  transform: translateY(-50%) rotate(0deg);
  transition: 0.25s;
}

/* .dropdown-toggle::after, */
.dropdown-toggle.collapsed::after {
  position: absolute;
  right: 15px;
  top: 18px;
  transform: translateY(-50%) rotate(-90deg);
  transition: 0.25s;
}

.no-arrow .dropdown-toggle::after {
  display: none;
}

@media (max-width: 992px) {
  .header-search {
    max-width: 150px;
  }
  .user-account {
    min-width: 0px;
  }
}
