
@media (min-width:200px) and (max-width:1024px) {
.infoTop{
    left: -10px !important;
}
}

@media (min-width:200px) and (max-width:768px) {
.infoTop{
    width: 165px !important;
}
.infoTop img{
    width: 92px;
    top: 131px;
}
}