
@media (min-width:767px) and (max-width:1100px) {
    .photoTitle{
        overflow: hidden !important;
    }

}

@media (min-width:200px) and (max-width:767px) {
    .opd-registration-tab .tab-pane.active{
		padding-bottom: 12px !important;
    }
    button.search-edit-btn{
        top:5px !important;
    }
}