.input-group .input-group-text:nth-child(1) {
    background-color: transparent;
    width: 150px;
    text-align: right;
    border: 0;
    display: inline;
    font-weight: 600;
}

.salutation{
    max-width: 126px;
}



::ng-deep app-personal-info-tab typeahead-container .dropdown-item{
    border-bottom: 1px solid #e1e1e1;
    min-width: 400px;
}

::ng-deep app-personal-info-tab typeahead-container .dropdown-item.active *{
    color: white;
}