.flexbox-container {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  /* background:url(../../../../assets/images/teleme-bg.jpg)  no-repeat; */
  background-size: 100%;
}

#msform {
  position: relative;
  box-shadow: 0px 1px 22px #aedee2;
  background: #fff;
}
.img-w {
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  right: -10px;
  position: relative;
  bottom: 14px;
  height: 61px;
  top: -4px;
}
#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 0px;
  padding: 0px 8px;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  /* display: none; */
}
button.btn.btn-cancel {
  color: #17a2b8;
  border-color: #17a2b8;
  border-radius: 40px;
  width: 120px;
  float: left;
  margin-left: 5%;
  padding: 6px 18px;
}
button.btn.btn-cancel:hover {
  background: transparent;
  color: #5bba47;
  border-color: #3fc324;
}
.btn-back-all-btn {
  min-width: 130px;
  padding: 6px 18px;
  border-radius: 40px;
  font-size: 15px;
  margin-left: 5% !important;
  color: #17a2b8;
  border-color: #17a2b8;
}
.btn-back-all-btn:hover {
  background: transparent;
  color: #5bba47;
  border-color: #3fc324;
}
.btn-back-all-btn .btn-success.focus,
.btn-success:focus {
  background: transparent;
  color: #5bba47;
}
.btn-success:not(:disabled):not(.disabled):active {
  background: transparent;
  color: #5bba47;
}
.btn-next-all-btn {
  min-width: 130px;
  padding: 6px 18px;
  background: #0099ff;
  border-radius: 40px;
  color: #fff;
  border: solid 1px #0099ff;
  margin-top: 42px;
  margin-bottom: 6px;
  font-size: 15px;
  float: right;
  margin-right: 5% !important;
}
.btn-next-all-btn:hover {
  background: #0788de;
  border-color: #0788de;
}
.nextStep {
  margin: auto;
  display: table;
}

hr {
  margin-top: 45px;
  margin-bottom: 29px;
  border: 0;
  border-top: 1px solid rgb(243 243 243);
}
.btn-continue {
  min-width: 130px;
  padding: 6px 18px;
  background: #0099ff;
  border-radius: 40px;
  color: #fff;
  border: solid 1px #0099ff;
  margin-top: 0px;
  margin-bottom: 6px;
  font-size: 15px;
  float: right;
  margin-right: 5% !important;
}

.displayBloc {
  display: block;
  z-index: 9;
}

.displaynone {
  display: none;
  z-index: 0;
}
.eror-p-message {
  position: absolute;
}

.logo-p {
  width: 100%;
  text-align: center;
  display: block;
  min-height: 100px;
}
.brand-logo {
  max-height: 120px;
  max-width: 240px;
  margin: 40px auto 10px;
}

.btn-next-all-btn {
  background: var(--button-bg) !important;
  color: var(--button-text-color) !important;
  border: solid 1px var(--border-color) !important;
}
.btn-next-all-btn:hover {
  color: var(--button-hover-text-color) !important;
  background-color: var(--button-bg-hover) !important;
}
