<div class="row flexbox-container">
  <div class="col-md-5 col-sm-12">
    <section class="multistep-area pt-2">
      <form id="msform">
        <a class="logo-p" href="#">
          <!-- <img class="img-w mt-5"  alt="" src="assets/images/mh-logo.svg" class="img-fluid" /> -->
          <img
            [src]="loginCustomLayout.logoUrl"
            alt="brand-logo"
            class="img-fluid brand-logo"
          />
        </a>

        <!-- fieldsets 1-->
        <fieldset *ngIf="fildset == 1" class="fieldset-form displayBloc">
          <app-find-account
            (searchObj)="getSearchParam($event)"
          ></app-find-account>
          <div class="clearfix"></div>
          <hr />
          <button
            type="button"
            class="btn nextStep btn-next-all-btn mb-4 action-button"
            [disabled]="searchLoading"
            (click)="onClickSearch()"
          >
            <i class="fa fa-spinner fa-spin me-1" *ngIf="searchLoading"></i
            >Search
          </button>
        </fieldset>
        <!-- end fieldsets 1-->

        <!-- fieldsets 2-->
        <fieldset *ngIf="fildset == 2" class="fieldset-form displayBloc" id="">
          <app-select-user
            [userList]="userList"
            (selectedUser)="getUserData($event)"
          ></app-select-user>
          <div class="clearfix"></div>
          <hr />
          <input
            type="button"
            name=""
            class="float-left btn btn-back-all-btn previousStep btn-cancel"
            (click)="cancel()"
            value="Cancel"
          />
          <button
            type="button"
            class="btn btn-next-all-btn mb-4 nextStep"
            [disabled]="userSelectLoader"
            (click)="onClickUser()"
          >
            <i class="fa fa-spinner fa-spin" *ngIf="userSelectLoader"></i
            >Continue
          </button>
        </fieldset>
        <!--end fieldsets 2-->

        <!-- fieldsets 3-->
        <fieldset *ngIf="fildset == 3" class="fieldset-form displayBloc" id="">
          <app-send-otp
            [selectedUser]="selectedUser"
            (sendObj)="onSelectType($any($event))"
          ></app-send-otp>
          <div class="clearfix"></div>
          <hr />
          <input
            type="button"
            name="previousStep"
            class="float-left btn btn-back-all-btn previousStep action-button-previous btn-cancel"
            (click)="cancel()"
            value="Cancel"
          />
          <button
            type="button"
            class="btn btn-next-all-btn mb-4 action-button nextStep"
            [disabled]="otpCreatLoader"
            (click)="createOtp()"
          >
            <i class="fa fa-spinner fa-spin" *ngIf="otpCreatLoader"></i>Continue
          </button>
        </fieldset>
        <!--end fieldsets 3-->

        <!-- fieldsets 4-->
        <fieldset *ngIf="fildset == 4" class="fieldset-form displayBloc">
          <app-security-code
            [userInfo]="sendOtpReqObject"
            [otpLoader]="otpCreatLoader"
            (otpCode)="inputOtpCode($any($event))"
            (resendOtp)="resendOtp()"
          ></app-security-code>
          <div class="clearfix"></div>
          <hr />
          <input
            type="button"
            name="submitStep"
            class="float-left btn btn-back-all-btn previousStep btn-cancel"
            (click)="cancel()"
            value="Cancel"
          />
          <button
            class="btn btn-continue btn-success btn-next-all-btn action-button mb-4"
            [disabled]="isInvalidOtp"
            (click)="checkOtp()"
          >
            <i class="fa fa-spinner fa-spin" *ngIf="otpCheckLoader"></i>Continue
          </button>
        </fieldset>
        <!--end fieldsets 4-->

        <!-- fieldsets 5-->
        <fieldset *ngIf="fildset == 5" class="fieldset-form displayBloc">
          <app-reset-password
            (newPassword)="newPassword($any($event))"
            (confPassword)="confPassword($any($event))"
          ></app-reset-password>
          <div
            class="text-left col-md-8 offset-md-2 text-danger eror-p-message"
            *ngIf="confirmPassword && passMatched == 0"
          >
            Password not matched!!
          </div>
          <div class="clearfix"></div>
          <hr />
          <input
            type="button"
            name="submitStep"
            class="float-left btn btn-back-all-btn previousStep btn-cancel"
            (click)="cancel()"
            value="Cancel"
          />
          <button
            class="btn btn-continue btn-success btn-next-all-btn action-button mb-4"
            [disabled]="resetPassLoader"
            (click)="resetPassword()"
          >
            <i class="fa fa-spinner fa-spin" *ngIf="resetPassLoader"></i>Sign-in
            with new password
          </button>
        </fieldset>
        <!--end fieldsets 5-->

        <div style="clear: both"></div>
      </form>
    </section>
  </div>
</div>
