<div class="modal-header border-0">
  <h6 class="modal-title m-0 fw-bold base-txt-primary">{{ title }}</h6>
  <button
    type="button"
    class="btn-close close pull-right fs-13px btn btn-sm btn-light"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="border p-3 mb-3">
    <div class="input-group required mb-2 positionRelative">
      <span class="input-group-text base-bg-subtle-primary base-txt-primary"
        >Config Key <span class="text-danger">*</span></span
      >
      <input
        type="text"
        class="form-control"
        [(ngModel)]="systemConfig.configKey"
      />
    </div>
    <div class="input-group required mb-2 positionRelative">
      <span class="input-group-text base-bg-subtle-primary base-txt-primary"
        >Config Value <span class="text-danger">*</span></span
      >
      <input
        type="text"
        class="form-control"
        [(ngModel)]="systemConfig.configValue"
      />
    </div>
    <div class="input-group required mb-2 positionRelative">
      <span class="input-group-text base-bg-subtle-primary base-txt-primary"
        >Config Group <span class="text-danger">*</span></span
      >
      <select
        class="form-select"
        [(ngModel)]="systemConfig.configGroup"
        name="configGroup"
      >
        <option value="GENERAL">GENERAL</option>
        <option value="SMS">SMS</option>
        <option value="EMAIL">EMAIL</option>
        <option value="FEE">FEE</option>
        <option value="ATTENDANCE">ATTENDANCE</option>
        <option value="RESULT">RESULT</option>
      </select>
    </div>
    <div class="input-group required mb-2 positionRelative">
      <span class="input-group-text base-bg-subtle-primary base-txt-primary"
        >Description <span class="text-danger">*</span></span
      >
      <textarea
        type="text"
        class="form-control"
        [(ngModel)]="systemConfig.description"
      >
      </textarea>
    </div>

    <div class="row">
      <div class="col-12 d-flex justify-content-end flex-wrap">
        <div class="form-check flex-nowrap">
          <label class="form-check-label text-dark text-nowrap ms-1"
            >Status</label
          >
          <input
            type="checkbox"
            [(ngModel)]="systemConfig.activeStatus"
            class="form-check-input"
          />
        </div>
        <div class="form-check flex-nowrap">
          <label class="form-check-label text-dark text-nowrap ms-1"
            >Is Editable</label
          >
          <input
            type="checkbox"
            [(ngModel)]="systemConfig.isEditable"
            class="form-check-input"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer border-0 bg-light">
  <button
    type="button"
    class="btn btn-sm btn-light fw-medium close px-3 m-0 text-body-secondary fixed-width-btn"
    (click)="bsModalRef.hide()"
  >
    Close
  </button>
  <button
    type="button"
    class="btn btn-sm base-btn-primary fw-medium py-1 px-3 m-0 ms-3 fixed-width-btn"
    (click)="saveConfigs()"
    [disabled]="isSaving"
  >
    {{ isSaving ? "Saving" : "Save" }}
  </button>
</div>
