/* .pConfirmation {
  color: #942902;
  font-size: 16px;
}
.searchHeaderField .input-group-text {
  border-left: 1px solid #a8d7ea;
  height: 30px;
  border-radius: 16px 0px 0px 16px;
  padding: 0px 16px;
  font-size: 15px;
  font-weight: bold;
}
.searchHeaderField .form-control {
  height: 30px;
  border-radius: 0px 16px 16px 0px;
  font-size: 16px;
}
.paddC {
  padding: 2px 22px;
  border-radius: 31px;
}

label.labelConfirm {
  width: 100%;
  font-size: 14.5px;
}

.perNumberConfirm {
  border-radius: 16px !important;
  border: solid 1px #9bd3ec;
} */
