<!-- <div class="modal-body text-center pt-5 pb-5">
    <p class="pConfirmation" [innerHTML]="title"></p>
    <div *ngIf="cancelFlag ">
        <div class="searchHeaderField col-md-9 offset-md-2 pt-4 pl-3 pr-5">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text lebelBg">Cancel Reason:</div>
                </div>
                <input type="text" class="form-control" [(ngModel)]="cancelReason"
                    (ngModelChange)="cancelReason.length > 0 ? cancelReasonChecker = false : cancelReasonChecker = true">
            </div>
        </div>
    </div>


    <div *ngIf="personalNumber ">
        <div class="searchHeaderField col-md-9 offset-md-2 pt-4 pl-3 pr-5">
            <div class="form-group mb-2">
                <label for="formGroupExampleInput" class="text-center labelConfirm">
                    <strong>Personal Number to confirm:</strong>
                </label>
                <input type="text" class="form-control perNumberConfirm" [(ngModel)]="validationString"
                    (ngModelChange)="validationString == personalNumber ? unitCheck = false : unitCheck = true">
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-success paddC mt-2" (click)="onConfirm()"
        [disabled]="cancelReasonChecker || unitCheck">Yes
    </button>
    <button type="button" class="btn btn-danger paddC mt-2 mx-3 " (click)="onCancel()">No
    </button>
</div> -->