<div class="row marginRightAll">
  <div class="col-md-12 padding-left-right">
    <div class="all_content_wrapper">
      <div class="allInner">
        <div class="allTitle">Department Setup</div>

        <div class="row marginLeft0 marginRight0">
          <div class="col-md-12 pt-1 pb-1 mb-2 pannelHeading setupHeader">
            <div class="float-right">
              <div class="btnAllRow">
                <button
                  type="button"
                  class="btn btn-success mr-1 addButtonCustom"
                  (click)="addDepartment()"
                >
                  <i class="fas fa-plus-circle mr-1" aria-hidden="true"></i>Add
                </button>
                <button
                  type="button"
                  class="btn btn-warning mr-1 addButtonCustom"
                  (click)="editDepartment()"
                >
                  <i class="fas fa-edit mr-1" aria-hidden="true"></i>Edit
                </button>
                <button
                  type="button"
                  class="btn btn-danger mr-1 addButtonCustom"
                  (click)="deleteDepartment()"
                >
                  <i class="fas fa-trash-alt mr-1" aria-hidden="true"></i>Delete
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive dataGridTable">
          <table #departmentGridTable class="row-border hover"></table>
        </div>
      </div>
    </div>
  </div>
</div>
