<div class="row">
  <div class="col-md-12">
    <h4 class="mb-0 mt-3 text-center font-weight-bold mb-2">
      Reset Your Password
    </h4>
    <p class="text-center p-email-enter">
      How do you want to receive the code to reset your password?
    </p>
  </div>

  <div class="col-md-9 offset-md-2">
    <!-- <div
      *ngIf="selectedUser.userEmail"
      class="form-check form-check-inline fullWidth mt-4"
    > -->
    <div class="form-check form-check-inline fullWidth mt-4">
      <input
        class="form-check-input check-input-mail"
        type="radio"
        name="account"
        id="email"
        value="option1"
        (click)="selectType(1)"
      />
      <label class="form-check-label" for="email">
        <span class="span-pass">
          Send code via email<br />
          <dt>{{ selectedUser.email }}</dt>
        </span>
      </label>
    </div>

    <!-- <div
      *ngIf="selectedUser.userMobile"
      class="form-check form-check-inline mt-2 fullWidth mt-3"
    > -->
    <div class="form-check form-check-inline mt-2 fullWidth mt-3">
      <input
        class="form-check-input check-input-mail"
        type="radio"
        name="account"
        id="phone"
        value="option2"
        (click)="selectType(2)"
      />
      <label class="form-check-label" for="phone">
        <span class="span-pass-two">
          Send code via SMS<br />
          <dt>{{ selectedUser.mobileNo }}</dt>
        </span>
      </label>
    </div>
  </div>
</div>
