<div class="modal-header border-0">
  <h6 class="modal-title m-0 fw-bold base-txt-primary">{{ title }}</h6>
  <button
    type="button"
    class="btn-close close pull-right fs-13px btn btn-sm btn-light"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="border p-3 mb-3">


    <div class="input-group required mb-2 positionRelative">
      <span class="input-group-text base-bg-subtle-primary base-txt-primary"
        >Subject Code <span class="text-danger">*</span></span
      >
      <input
        type="text"
        class="form-control"
        [(ngModel)]="subject.subjectCode"
      />
    </div>

        <div class="input-group required mb-2 positionRelative">
      <span class="input-group-text base-bg-subtle-primary base-txt-primary"
        >Subject Name <span class="text-danger">*</span></span
      >
      <input
        type="text"
        class="form-control"
        [(ngModel)]="subject.subjectName"
      />
    </div>

        <div class="input-group required mb-2 positionRelative">
      <span class="input-group-text base-bg-subtle-primary base-txt-primary"
        >Subject Name Bangla <span class="text-danger">*</span></span
      >
      <input
        type="text"
        class="form-control"
        [(ngModel)]="subject.subjectNameBangla"
      />
    </div>

        <div class="input-group required mb-2 positionRelative">
      <span class="input-group-text base-bg-subtle-primary base-txt-primary">
        Subject Type <span class="text-danger">*</span>
      </span>

      <select class="form-select" [(ngModel)]="subject.subjectType" name="type">
        <option value="COMPULSORY">COMPULSORY</option>
        <option value="OPTIONAL">OPTIONAL</option>
        <option value="PRACTICAL">PRACTICAL</option>
        <option value="VOCATIONAL">VOCATIONAL</option>
        <option value="ISLAMIC">ISLAMIC</option>
      </select>
    </div>

          <div class="input-group required mb-2 positionRelative">
      <span class="input-group-text base-bg-subtle-primary base-txt-primary">
        Subject Category <span class="text-danger">*</span>
      </span>

      <select class="form-select" [(ngModel)]="subject.subjectCategory" name="type">
        <option value="THEORY">THEORY</option>
        <option value="PRACTICAL">PRACTICAL</option>
        <option value="MCQ">MCQ</option>
        <option value="BOTH">BOTH</option>
      </select>
    </div>

    <div class="input-group required mb-2 positionRelative">
      <span class="input-group-text base-bg-subtle-primary base-txt-primary"
        >Full Marks <span class="text-danger">*</span></span
      >
      <input
        type="number"
        class="form-control"
        [(ngModel)]="subject.fullMarks"
      />
    </div>

       <div class="input-group required mb-2 positionRelative">
      <span class="input-group-text base-bg-subtle-primary base-txt-primary"
        >Pass Marks <span class="text-danger">*</span></span
      >
      <input
        type="number"
        class="form-control"
        [(ngModel)]="subject.passMarks"
      />
    </div>

       <div class="input-group required mb-2 positionRelative">
      <span class="input-group-text base-bg-subtle-primary base-txt-primary"
        >Credit Hour <span class="text-danger">*</span></span
      >
      <input
        type="number"
        class="form-control"
        [(ngModel)]="subject.creditHour"
      />
    </div>

       <div class="input-group required mb-2 positionRelative">
      <span class="input-group-text base-bg-subtle-primary base-txt-primary"
        >Sort Order <span class="text-danger">*</span></span
      >
      <input
        type="number"
        class="form-control"
        [(ngModel)]="subject.sortOrder"
      />
    </div>

    <div class="row">
      <div class="col-12 d-flex justify-content-end flex-wrap">
        <div class="form-check flex-nowrap">
          <label class="form-check-label text-dark text-nowrap ms-1"
            >Status</label
          >
          <input
            type="checkbox"
            [(ngModel)]="subject.activeStatus"
            class="form-check-input"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer border-0 bg-light">
  <button
    type="button"
    class="btn btn-sm btn-light fw-medium close px-3 m-0 text-body-secondary fixed-width-btn"
    (click)="bsModalRef.hide()"
  >
    Close
  </button>
  <button
    type="button"
    class="btn btn-sm base-btn-primary fw-medium py-1 px-3 m-0 ms-3 fixed-width-btn"
    (click)="saveSubjects()"
    [disabled]="isSaving"
  >
    {{ isSaving ? "Saving" : "Save" }}
  </button>
</div>
