<div class="container-fluid">
  <div class="card">
    <div
      class="card-header py-2 d-flex justify-content-between align-items-center"
    >
      <h6 class="m-0 fw-bold base-txt-primary">Module Setup</h6>
      <div class="d-flex flex-wrap gap-2 align-items-center">
        <button
          type="button"
          class="btn btn-sm base-btn-primary fw-medium px-3 mb-xxl-0"
          (click)="addModule()"
        >
          <i class="fas fa-user-plus mr-1" aria-hidden="true"></i> Add
        </button>

        <button
          type="button"
          class="btn btn-sm btn-warning fw-medium px-3 mb-xxl-0"
          (click)="editModule()"
        >
          <i class="fas fa-edit" aria-hidden="true"></i> Edit
        </button>
        <button
          type="button"
          class="btn btn-sm btn-danger fw-medium px-2 mb-xxl-0"
          (click)="deleteModule()"
        >
          <i class="fas fa-trash-alt"></i> Delete
        </button>
      </div>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="card mb-4">
            <div class="card-body">
              <div class="table-responsive">
                <table #modGrid class="row-border hover table table-sm"></table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
