.input-group .input-group-text:nth-child(1) {
  background-color: transparent;
  width: 150px;
  text-align: right;
  border: 0;
  display: inline;
  font-weight: 600;
}

.fixed-width-btn {
  min-width: 80px;
}
