.input-group .input-group-text:nth-child(1) {
    background-color: transparent;
    width: 150px;
    text-align: right;
    border: 0;
    display: inline;
    font-weight: 600;
}

.searchDept {
    width: 350px;


}

::ng-deep app-add-user .tab-container .nav.nav-tabs {
    --bs-bg-opacity: 1;
    border: 1px solid var(--base-primary-subtle);
    border-radius: 6px;
    margin-bottom: 5px;
    overflow: hidden;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
}

::ng-deep app-add-user .tab-container .tab-content {
    border: 1px solid var(--base-primary-subtle);
    padding: 1rem;
    /* border-radius: 6px; */
}

.fixed-width-btn {
    min-width: 80px;
}