<div class="row g-3">
  <!-- Present Address -->
  <div class="col-md-5">
    <div class="emp-section-title">Present Address</div>
    <div class="row g-2">
      <div class="col-12">
        <div class="input-group input-group-sm">
          <span
            class="input-group-text base-bg-subtle-primary base-txt-primary"
          >
            C/O
          </span>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="employeeaddress.prCareOfAddr"
          />
        </div>
      </div>
      <div class="col-12">
        <div class="input-group input-group-sm">
          <span
            class="input-group-text base-bg-subtle-primary base-txt-primary"
          >
            Address 1
          </span>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="employeeaddress.prAddr1"
          />
        </div>
      </div>
      <div class="col-12">
        <div class="input-group input-group-sm">
          <span
            class="input-group-text base-bg-subtle-primary base-txt-primary"
          >
            Address 2
          </span>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="employeeaddress.prAddr2"
          />
        </div>
      </div>
      <div class="col-12">
        <div class="input-group input-group-sm">
          <span
            class="input-group-text base-bg-subtle-primary base-txt-primary"
          >
            Post Office
          </span>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="employeeaddress.prAddrPost"
          />
        </div>
      </div>
      <div class="col-12">
        <div class="input-group input-group-sm">
          <span
            class="input-group-text base-bg-subtle-primary base-txt-primary"
          >
            District
          </span>
          <ng-select
            class="form-control p-0"
            [items]="districtlist"
            placeholder="Choose district"
            notFoundText="Not found"
            bindLabel="districtName"
            bindValue="id"
            [(ngModel)]="employeeaddress.prAddrDist"
          >
          </ng-select>
        </div>
      </div>
      <div class="col-12">
        <div class="input-group input-group-sm">
          <span
            class="input-group-text base-bg-subtle-primary base-txt-primary"
          >
            Country
          </span>
          <ng-select
            class="form-control p-0"
            [items]="countryList"
            placeholder="Choose country"
            notFoundText="Not found"
            bindLabel="countryName"
            bindValue="id"
            [(ngModel)]="employeeaddress.prAddrCountry"
          >
          </ng-select>
        </div>
      </div>
    </div>
  </div>

  <!-- Copy Button -->
  <div class="col-md-1 d-flex align-items-center justify-content-center">
    <button
      class="btn btn-sm base-btn-primary"
      (click)="copyPresentAddress()"
      title="Copy to Permanent Address"
    >
      <i class="fas fa-angle-double-right"></i>
    </button>
  </div>

  <!-- Permanent Address -->
  <div class="col-md-5">
    <div class="emp-section-title">Permanent Address</div>
    <div class="row g-2">
      <div class="col-12">
        <div class="input-group input-group-sm">
          <span
            class="input-group-text base-bg-subtle-primary base-txt-primary"
          >
            C/O
          </span>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="employeeaddress.peCareOfAddr"
          />
        </div>
      </div>
      <div class="col-12">
        <div class="input-group input-group-sm">
          <span
            class="input-group-text base-bg-subtle-primary base-txt-primary"
          >
            Address 1
          </span>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="employeeaddress.peAddr1"
          />
        </div>
      </div>
      <div class="col-12">
        <div class="input-group input-group-sm">
          <span
            class="input-group-text base-bg-subtle-primary base-txt-primary"
          >
            Address 2
          </span>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="employeeaddress.peAddr2"
          />
        </div>
      </div>
      <div class="col-12">
        <div class="input-group input-group-sm">
          <span
            class="input-group-text base-bg-subtle-primary base-txt-primary"
          >
            Post Office
          </span>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="employeeaddress.peAddrPost"
          />
        </div>
      </div>
      <div class="col-12">
        <div class="input-group input-group-sm">
          <span
            class="input-group-text base-bg-subtle-primary base-txt-primary"
          >
            District
          </span>
          <ng-select
            class="form-control p-0"
            [items]="districtlist"
            placeholder="Choose district"
            notFoundText="Not found"
            bindLabel="districtName"
            bindValue="id"
            [(ngModel)]="employeeaddress.peAddrDist"
          >
          </ng-select>
        </div>
      </div>
      <div class="col-12">
        <div class="input-group input-group-sm">
          <span
            class="input-group-text base-bg-subtle-primary base-txt-primary"
          >
            Country
          </span>
          <ng-select
            class="form-control p-0"
            [items]="countryList"
            placeholder="Choose country"
            notFoundText="Not found"
            bindLabel="countryName"
            bindValue="id"
            [(ngModel)]="employeeaddress.peAddrCountry"
          >
          </ng-select>
        </div>
      </div>
    </div>
  </div>

  <!-- Emergency Contact -->
  <div class="col-12">
    <div class="emp-section-title mt-1">Emergency Contact Details</div>
    <div class="row g-2">
      <div class="col-md-4">
        <div class="input-group input-group-sm">
          <span
            class="input-group-text base-bg-subtle-primary base-txt-primary"
          >
            Contact Name
          </span>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="employeeaddress.contractPersonName"
          />
        </div>
      </div>
      <div class="col-md-4">
        <div class="input-group input-group-sm">
          <span
            class="input-group-text base-bg-subtle-primary base-txt-primary"
          >
            Relation
          </span>
          <ng-select
            class="form-control p-0"
            [items]="guardianRelationList"
            placeholder="Choose relation"
            notFoundText="Not found"
            bindLabel="name"
            bindValue="name"
            [(ngModel)]="employeeaddress.contractRelation"
          >
          </ng-select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="input-group input-group-sm">
          <span
            class="input-group-text base-bg-subtle-primary base-txt-primary"
          >
            Mobile
          </span>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="employeeaddress.contractMobile"
          />
        </div>
      </div>
    </div>
  </div>
</div>
