<div class="emp-section-title">Other / Official Information</div>

<div class="row g-2">
  <div class="col-md-4">
    <div class="input-group input-group-sm">
      <span class="input-group-text base-bg-subtle-primary base-txt-primary">
        Card No.
      </span>
      <input
        type="text"
        class="form-control"
        placeholder="Card number"
        [(ngModel)]="employee.cardNo"
      />
    </div>
  </div>

  <div class="col-md-4">
    <div class="input-group input-group-sm">
      <span class="input-group-text base-bg-subtle-primary base-txt-primary">
        Blood Group
      </span>
      <ng-select
        class="form-control p-0"
        [items]="bloodGroupList"
        placeholder="Choose"
        notFoundText="Not found"
        bindLabel="detailName"
        bindValue="id"
        [(ngModel)]="employee.bloodGrp"
      >
      </ng-select>
    </div>
  </div>

  <div class="col-md-4">
    <div class="input-group input-group-sm">
      <span class="input-group-text base-bg-subtle-primary base-txt-primary">
        Nationality
      </span>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="employee.nationality"
      />
    </div>
  </div>

  <div class="col-md-4">
    <div class="input-group input-group-sm">
      <span class="input-group-text base-bg-subtle-primary base-txt-primary">
        HR Type
      </span>
      <ng-select
        class="form-control p-0"
        [items]="hrTypeList"
        placeholder="Choose"
        notFoundText="Not found"
        bindLabel="detailName"
        bindValue="id"
        [(ngModel)]="employee.hrType"
      >
      </ng-select>
    </div>
  </div>

  <div class="col-md-4">
    <div class="input-group input-group-sm">
      <span class="input-group-text base-bg-subtle-primary base-txt-primary">
        Official Email
      </span>
      <input
        type="email"
        class="form-control"
        placeholder="official@email.com"
        [(ngModel)]="employee.emailOfficial"
      />
    </div>
  </div>

  <div class="col-md-4">
    <div class="input-group input-group-sm">
      <span class="input-group-text base-bg-subtle-primary base-txt-primary">
        Emp. Type
      </span>
      <ng-select
        class="form-control p-0"
        [items]="emptypelist"
        placeholder="Choose"
        notFoundText="Not found"
        bindLabel="detailName"
        bindValue="id"
        [(ngModel)]="employee.empType"
      >
      </ng-select>
    </div>
  </div>

  <div class="col-md-4">
    <div class="input-group input-group-sm">
      <span class="input-group-text base-bg-subtle-primary base-txt-primary">
        Religion
      </span>
      <ng-select
        class="form-control p-0"
        [items]="religionList"
        placeholder="Choose"
        notFoundText="Not found"
        bindLabel="detailName"
        bindValue="id"
        [(ngModel)]="employee.religion"
      >
      </ng-select>
    </div>
  </div>

  <div class="col-md-4">
    <div class="input-group input-group-sm">
      <span class="input-group-text base-bg-subtle-primary base-txt-primary">
        Passport / NID
      </span>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="employee.passportNo"
      />
    </div>
  </div>

  <div class="col-md-4">
    <div class="input-group input-group-sm align-items-start">
      <span
        class="input-group-text base-bg-subtle-primary base-txt-primary"
        style="align-self: flex-start; padding-top: 6px"
      >
        Emp. Signature
      </span>

      <input
        type="text"
        class="form-control"
        [(ngModel)]="employee.empSignature"
      />
    </div>
  </div>
</div>
